<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.gitcalendar.filler</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/java</string>
        <string>-jar</string>
        <string>/Users/pavelmisenko/repositories/git_calendar/GitCalendarFiller.jar</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/pavelmisenko/repositories/git_calendar</string>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/pavelmisenko/repositories/git_calendar/git_calendar.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/pavelmisenko/repositories/git_calendar/git_calendar_error.log</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <false/>
</dict>
</plist>
